<div class="cart-container">
  <h2 class="text-4xl font-bold text-ambev-blue text-center mb-8">Seu Carrinho</h2>
  <ng-container *ngIf="cartItems$ | async as items; else emptyCart">
    <div *ngIf="items.length > 0; else emptyCart">
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Nome</th>
            <th>Preço Unitário</th>
            <th>Desconto %</th>
            <th>Quantidade</th>
            <th>Subtotal</th>
            <!-- <th>Ações</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items">
            <td>
              <img [src]="item.product.imageUrl || 'assets/placeholder.png'" [alt]="item.product.productName" class="product-image">
            </td>
            <td>{{ item.product.productName }}</td>
            <td>{{ item.product.unitPrice | currency:'BRL' }}</td>
            <td>{{ (item.product.discountPercentage || 0) }}%</td>
            <td>
              <input type="number"
                    [ngModel]="item.addToCart"
                     (change)="updateCart(item.product, $event)"
                     min="1"
                     class="w-16 text-center border border-gray-300 rounded-md py-1 px-2 focus:outline-none focus:ring-2 focus:ring-ambev-blue focus:border-transparent" />
            </td>
            <td>{{ (item.product.unitPrice * item.product.quantity) | currency:'BRL' }}</td>
          </tr>
        </tbody>
      </table>
      <div class="cart-summary">
        <h3>Total do Carrinho: {{ getTotalPrice(items) | currency:'BRL' }}</h3>
        <button class="checkout-button" (click)="checkout(items)">Finalizar Compra</button>
      </div>
    </div>
  </ng-container>
  <ng-template #emptyCart>
    <p>Seu carrinho está vazio.</p>
    <a routerLink="/">Continuar comprando</a>
  </ng-template>
</div>